<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>118517832311-9g3mb6pcco3neph5iiomohappargir01.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.118517832311-9g3mb6pcco3neph5iiomohappargir01</string>
	<key>API_KEY</key>
	<string>AIzaSyCACQzL4wyFJq9W5I46GM-1l86rbT89qQU</string>
	<key>GCM_SENDER_ID</key>
	<string>118517832311</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ahmed.DevTech.pointchat</string>
	<key>PROJECT_ID</key>
	<string>pointchat-557f7</string>
	<key>STORAGE_BUCKET</key>
	<string>pointchat-557f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:118517832311:ios:12632493d71fc787ed4472</string>
	<key>DATABASE_URL</key>
	<string>https://pointchat-557f7.firebaseio.com</string>
</dict>
</plist>